---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";

import { getPosts } from "../js/utils";
import { Image } from "astro:assets";

const posts = await getPosts();
console.log(posts);

interface Props {
  id: string;
  title: string;
  tags: string[];
  hero_img: string;
  body: string;
}
---

<MainLayout title="Blog" description="">
  <section class="container" aria-label="Blog Posts">
    <h1 class="h1">Blog Posts</h1>
    {
      posts && posts.length > 0 ? (
        <div>
          {posts.map((post: Props) => (
            <article class="card">
              <div style="display: flex; gap: 10px" class="">
                {post.tags.map((tag) => (
                  <small style="background-color: white; color:black; padding: 6px 10px; margin-bottom: 20px;">
                    {tag}
                  </small>
                ))}
              </div>
              <Image
                src={post?.hero_img}
                alt={post?.title}
                format="webp"
                fit="cover"
                quality={80}
                width="480"
                height="460"
              />
              <div class="content">
                <div>
                  <h2 class="h3">
                    <a href="{url}">{post?.title}</a>
                  </h2>
                  <small> by </small>
                </div>
                <p>{post.body.slice(0, 30)}...</p>
                <Link href="" text="Read Post" style="secondary" />
              </div>
            </article>
          ))}
        </div>
      ) : (
        <p>No post</p>
      )
    }
  </section>
</MainLayout>
